$main_color:#43A1F8;
$main_color_hover: #3483f8;
.c-white{
  color: #fff;
}
.c-soft{
  color: #A1A1A1;
}
.c-blue{
  color: $main_color;
}

.btn{
  border-radius: 0;
  padding: 6px 30px;
}
.btn-primary {
  background-color: $main_color;
  border-color: $main_color;
  &:hover{
    background-color: $main_color_hover;
    border-color: $main_color_hover;
  }
}

body{
  font-family: prompt ,sans-serif;
  height: 100%;
}
.section{
  padding: 60px 0;
}

.footer{
  padding: 60px 0 0 0;
  color: #fff;
  background: #43A1F8;
  a{
    color: #fff;
    &:hover,:focus{
      color: #fff;
      text-decoration: none;
    }
  }
  .copyright{
    text-align: center;
    padding: 15px;
    background: #2B2B2B;
  }
}
.navbar-brand{
  height: auto;
}
.navbar-nav > li > img{
  margin-right: 10px;
}
.navbar-nav > li > a{
  padding: 25px 20px;
}
.nav > li > a:hover, .nav > li > a:focus{
  background: none;
}
.navbar-nav > li.active , .navbar-nav > li:hover{
  a{
    color: $main_color;
  }
}
nav a{
  color: #fff;
  letter-spacing: 1.5px;
}
.nav a:hover, a:focus{
  color:#fff;
}
#banner{
  position: relative;
  color: #fff;
  text-align: center;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: bottom;
  height: 700px;
  .main-text{
    margin: 80px 0;
    h1{
      letter-spacing: 5px;
      font-family: promptthin,sans-serif;
    }
    .subtitle{
      letter-spacing: 1px;
      font-size: 18px;
      line-height: 1.5;
      font-family: prompt , sans-serif;
    }
  }
  .adown{
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 30px;
  }
}
p{
  letter-spacing: 1.2px;
}
.intro{
  margin: 60px 0;
}
.gray{
  background: #F1F1F1;
}
.bg-geo{
  background-image: url(../images/bg-geo.png);
  background-size: cover;
}
.line-height-extra{
  line-height: 25px;
  strong{
    background: $main_color_hover;
    padding: 5px;
    border-radius: 3px;

  }
}
.hr{
  border: 0;
  height: 0;
  border-top: 1px solid $main_color;
}
.hr-bold{
  border: 0;
  height: 0;
  border-bottom: 5px solid $main_color;
  width: 100px;
  display: inline-block;
}
.item{
  cursor: pointer;
  margin-bottom: 15px;
  display: block;
  background: #fff;
  text-align: center;
  transition: all 0.2s;
  &:hover{
    text-decoration: none;
    box-shadow: 2px 2px 10px 0px rgba(102,102,102,0.50);
  }
  .thumb{
    height: 280px;
    background-size: cover;
    background-position: center bottom;
  }
  .title{
    background: $main_color;
    color: #fff;
    padding: 10px;
  }
  .name{
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
  }
}
input[type=text],input[type=email]{
  width: 100%;
  padding: 6px 10px;
  border:1px solid $main_color;
  margin-bottom: 15px;

}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .intro{
    margin: 30px 0;
  }
  .section{
    padding: 30px 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

